@charset "utf-8";
@font-face {
    font-family: 'IconFont';
    src: url('../vector/iconfont.ttf');
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Dosis','IconFont' sans-serif;
}
iframe {
	display: block;
	overflow: hidden;
}
b {
	text-decoration: underline;
}

.bg_frame {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.btn {
	position: absolute;
	z-index: 10000;
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 40px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border: 2px solid #fff;
	border-radius: 6px;
	white-space: nowrap;
}
.btn:hover {
	background-color: #000;
}
.btn_icon {
	display: inline-block;
	width: 40px;
	text-align: center;
}
.settings_pan {
	top: 8px;
	left: 8px;
}
.btn_try_on {
	display: block;
	position: fixed;
	height: 120px;
	width: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 24px;
	border-radius: 60px;
	background-color: #fff;
	bottom: 40px;
	right: 40px;
	color: #333;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.btn_try_on:hover {
	color: #000;
	box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
}
.btn_to_collection {
	bottom: 8px;
	right: 8px;
}
.pos_count {
	display: inline-block;
	height: 24px;
	width: 24px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 12px;
	color: #000;
	line-height: 24px;
	text-align: center;
	margin-top: 6px;
}
.popup_bg {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.2);
}
.p_cpan {
	display: block;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: rgba(256, 256, 256, 0.6);
	padding: 0px;
	padding-top: 30px;
}
.p_cpan:hover {
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.p_left_cpan {

}
.p_right_cpan {
	right: 0px;
}
.general_viewport {
	display: block;
	position: fixed;
	height: 680px;
	width: 520px;
	top: 50%;
	left: 50%;
	margin-left: -260px;
	margin-top: -340px;
	background-color: #fff;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.viewport_history {
	display: block;
	position: fixed;
	height: 520px;
	width: 620px;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -280px;
	background-color: #fff;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.history_back {
	display: block;
	background-color: #f6f6f6;
	height: 520px;
	line-height: 520px;
	width: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #989898;
	font-size: 40px;
	text-align: center;
}
.history_back:hover {
	color: #333;
	background-color: #fff;
}
.history_forward {
	display: block;
	background-color: #f6f6f6;
	height: 520px;
	line-height: 520px;
	width: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #989898;
	font-size: 40px;
	text-align: center;
}
.history_forward:hover {
	color: #333;
	background-color: #fff;
}
.history_forward {
	
}
.popup_control_pan {
	position: absolute;
	top: 0px;
	display: block;
	width: 320px;
	height: 100%;
	background-color: #eaeaea;
}
.viewport {
	position: absolute;
	top: 0px;
	left: 140px;
	display: block;
	width: 320px;
	height: 100%;
}
#videoElement {
    width: 920px;
    height: 680px;
    background-color: #fff;
}
.try_item {
	height: 680px;
	width: 300px;
	background-image: url(../img/3d_girl.png);
	background-position: center;
	background-repeat: no-repeat;
}
.cpan_btn {
	color: #333;
	padding: 16px;
	padding-left: 10px;
	cursor: pointer;
}
.cpan_btn:hover {
	background-color: #f6f6f6;
	color: #000;
}
.btn_3d {
	top: 8px;
	left: 328px;
	border-top-left-radius: 12px;
}
.btn_video {
	top: 8px;
	left: 436px;
	border-bottom-right-radius: 12px;
}
.btn_share {
	bottom: 8px;
	right: 8px;
	border-top-left-radius: 12px;
}
.add_to_cart {
	font-size: 40px;
	line-height: 80px;
	height: 80px;
	width: 100%;
	background-color: #ff0084;
	text-align: center;
	color: #ffcae5;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 30px;
	cursor: pointer;
}
.add_to_cart:hover {
	color: #fff;
}
.cart_plus {
	font-size: 30px;
	line-height: 60px;
	height: 60px;
	width: 100%;
	background-color: #ffcae5;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 80px;
	right: 0px;
	margin-bottom: 30px;
}
.powered_by {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 30px;
	margin-bottom: 30px;
	font-size: 0.8em;
	text-align: center;
	color: #989898;
	cursor: pointer;

}
.powered_by:hover {
	color: #000;

}


