@charset "utf-8";
@font-face {
    font-family: 'IconFont';
    src: url('../vector/iconfont.ttf');
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Dosis','IconFont' sans-serif;
}
iframe {
	display: block;
	overflow: hidden;
}
b {
	text-decoration: underline;
}

.bg_frame {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.btn {
	position: absolute;
	z-index: 10000;
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 40px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border: 2px solid #fff;
	border-radius: 6px;
	white-space: nowrap;
}
.btn:hover {
	background-color: #000;
}
.btn_icon {
	display: inline-block;
	width: 40px;
	text-align: center;
	color: #828282;
}
.settings_pan {
	top: 8px;
	left: 8px;
}
.btn_try_on {
	display: block;
	position: fixed;
	height: 160px;
	width: 160px;
	line-height: 160px;
	border-radius: 80px;
	bottom: 40px;
	right: 40px;
	cursor: pointer;
	background-image: url('../vector/try_on_btn.svg');
	background-position: center center;
	background-repeat: no-repeat;
}
.btn_try_on:hover {
	color: #000;
	box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
.btn_to_collection {
	bottom: 8px;
	right: 8px;
}
.popup_bg {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.4);
/*	background-image: url('../img/vbg1.svg'); */
	background-size: cover;
	background-repeat: no-repeat;
}
.p_cpan {
	display: block;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: rgba(256, 256, 256, 0.8);
	padding: 0px;
	padding-top: 30px;
}
.p_cpan:hover {
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.p_left_cpan {

}
.p_right_cpan {
	right: 0px;
	width: 202px;
}
.p_right_cpan:hover {
	background-color: #d8d8d8;
}
.general_viewport {
	display: block;
	position: fixed;
	height: 680px;
	width: 520px;
	top: 50%;
	left: 50%;
	margin-left: -260px;
	margin-top: -340px;
	background-color: #fff;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.viewport_history {
	display: block;
	position: fixed;
	height: 520px;
	width: 620px;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -280px;
	background-color: #fff;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.history_back {
	display: block;
	background-color: #f6f6f6;
	height: 520px;
	line-height: 520px;
	width: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #989898;
	font-size: 40px;
	text-align: center;
}
.history_back:hover {
	color: #333;
	background-color: #fff;
}
.history_forward {
	display: block;
	background-color: #f6f6f6;
	height: 520px;
	line-height: 520px;
	width: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #989898;
	font-size: 40px;
	text-align: center;
}
.history_forward:hover {
	color: #333;
	background-color: #fff;
}
.history_forward {
	
}
.popup_control_pan {
	position: absolute;
	top: 0px;
	display: block;
	width: 320px;
	height: 100%;
	background-color: #eaeaea;
}
.viewport {
    position: absolute;
    margin-left: -260px;
    margin-top: -340px;
    left: 50%;
    top: 50%;
	width: 520px;
	height: 680px;
}
.viewport_full {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: #333;
    overflow: hidden;
}
.try_item {
	height: 100%;
    width: 100%;
	background-image: url(../img/3d_girl.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.cpan_btn {
	display: block;
	color: #333;
	padding: 16px;
	padding-left: 10px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}
.cpan_btn:hover {
	background-color: #f6f6f6;
	color: #000;
}
.cpan_btn:focus {
	border-left: 4px #333 solid;
	border-right: 4px #333 solid;
	background-color: #f6f6f6;
	padding-left: 6px;
	transition: 0.3s;
}
.btn_3d {
	top: 8px;
	left: 328px;
	border-top-left-radius: 12px;
}
.btn_video {
	top: 8px;
	left: 436px;
	border-bottom-right-radius: 12px;
}
.btn_share {
	bottom: 8px;
	right: 8px;
	border-top-left-radius: 12px;
}
#share {
	position: fixed;
	height: 100%;
	width: 260px;
	margin-left: -260px;
	background-color: #d8d8d8;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	text-align: right;
	padding-top: 70px;
	transition: margin-left 0.5s;
}
#share:target {
	margin-left: 0px;
}
.share_btn {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	color: #333;
}
.share_btn:hover {
	color: #000;
	background-color: #f6f6f6;
}
.powered_by {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	margin-bottom: 30px;
	height: 80px;
	text-align: center;
	background-color: #fff;
}
.powered_by:hover {
	background-color: #f6f6f6;
}
.df_logo_container {
	display: inline-block;
	height: 40px;
	width: 130px;
	margin-top: 30px;
}
.df_logo_svg {
	fill: #909090;
}
.products_field {
	line-height: 0px;
	font-size: 0px;
}
.product_item {
	display: inline-block;
	width: 85px;
	height: 85px;
	background-color: #000;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	outline: none;
}
.product_item:hover {
	height: 170px;
}
.product_item:focus {
	box-shadow: inset 0 0 0 2px #333;
}
#smpl1 {
	background-image: url('../img/tst/1.jpg');
}
#smpl2 {
	background-image: url('../img/tst/2.jpg');
}
#smpl3 {
	background-image: url('../img/tst/3.jpg');
}
#smpl4 {
	background-image: url('../img/tst/4.jpg');
}
#smpl5 {
	background-image: url('../img/tst/5.jpg');
}
#smpl6 {
	background-image: url('../img/tst/6.jpg');
}
.animation {
	transition: 0.3s;
}
.animation2 {
	transition: height 0.3s;
}

.item_pan {
	position: fixed;
	height: 100%;
	width: 360px;
	right: 0px;
	margin-right: -360px;
	background-color: #d8d8d8;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	transition: margin-right 0.5s;
}
#item1:target {
	margin-right: 0px;
}
#item2:target {
	margin-right: 0px;
}
#item3:target {
	margin-right: 0px;
}
.item_toolbox {
	height: 100%;
	width: 158px;
}
.item_view {
	height: 280px;
	background-image: url('../img/tst/1.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-top: 10px #fff solid;
	border-bottom: 10px #fff solid;
}
#item_view2 {
	background-image: url('../img/tst/2.jpg');
}
#item_view3 {
	background-image: url('../img/tst/3.jpg');
}
.item_color_select {
	background-color: #d8d8d8;
}
.color_item {
	height: 30px;
	margin: 10px;
	line-height: 30px;
	text-align: center;
	color: rgba(0, 0, 0, 0.0);
	cursor: pointer;
}
.color_item:hover {
	color: #000;
}
.c_black:hover {
	color: #fff;
}
.item_view_btn {
	background-color: #fff;
	line-height: 60px;
	color: #333;
	cursor: pointer;
}
.item_view_btn:hover {
	background-color: #333;
	color: #fff;
}
.icon_iv_btn {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 18px;
	padding-right: 10px;
	font-size: 24px;
}
.back_to_shopping {
	background-color: #fff;
	margin-top: -30px;
	height: 30px;
	cursor: pointer;
	color: #000;
	line-height: 30px;
	font-size: 24px;
	padding: 20px;
	padding-left: 24px;
}
.back_to_shopping:hover {
	background-color: #333;
	color: #fff;
}
.close_icon {
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	padding-right: 24px;
	display: inline-block;
}
