.viewport_controls {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.camera_control {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 120px;
    width: 120px;
}
.cc_btn {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f6f6f6;
}
.cc_btn:hover {
    background-color: #333;
    color: #fff;
}
#cc_up {
    top: 0px;
    left: 40px;
}
#cc_down {
    bottom: 0px;
    left: 40px;
}
#cc_left {
    top: 40px;
    left: 0px;
}
#cc_right {
    right: 0px;
    top: 40px;
}
#cc_default {
    top: 40px;
    left: 40px;
}
.vprt_full {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f6f6f6;
    top: 10px;
    right: 10px;
}
.vprt_full:hover {
    background-color: #333;
    color: #fff;
}
.zoom_control {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 40px;
    height: 80px;
}
.zc_btn {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f6f6f6;
}
.zc_btn:hover {
    background-color: #333;
    color: #fff;
}
#zc_in {
    top: 0px;
    left: 0px;
}
#zc_out {
    top: 40px;
    left: 0px;
}
.sizer {
    position: absolute;
    width: 60px;
    bottom: 10px;
    left: 10px;
}
.size_itm {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    background-color: #f6f6f6;
}
.size_itm:hover {
    background-color: #333;
    color: #fff;
}
.best_fit {
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
    font-weight: bold;
    font-size: 1.2em;
}
.best_fit:hover {
    color: #00ff02;
}
.s_recomended {
    position: absolute;
    height: 40px;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}