
.idea/.name

.idea/deployment.xml

.idea/encodings.xml

.idea/FoxLab.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.remotesettings

3d/2Fem_Body_Normal.jpg

*.zip

3d/Fem_Body_Diffuse_2K.jpg

3d/Girl_test.3ds

3d/Girl_test.3ds alias

3d/Girl_test.blend

3d/Girl_test.blend1

3d/Girl_test.dae

3d/Girl_test2.dae
